.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.counter {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.textInput {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
